<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/adminLayout}">

<head>
    <title>User</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">


</head>

<body>

    <div layout:fragment="content">


        <div th:replace="~{user/profile/data}">

        </div>



        <!-- modal start -->
        <div th:replace="~{utils/modal/modalMessage}"></div>
        <!-- modal end -->
    </div>

    <th:block layout:fragment="scripts">
        <script th:inline="javascript">
            $(document).ready(function () {
                $(function () {
                    let isSucceed = /*[[${isSucceed}]]*/ "";
                    if (isSucceed == "UPDATED") {
                        $('#myModal').modal('show');
                        $('.msg').append('<p class="text-success">Updated User Profile Successfully</p>')
                    }
                    else if (isSucceed == "CHANGEPASS") {
                        $('#myModal').modal('show');
                        $('.msg').append('<p class="text-success">Change Password Successfully</p>')
                    }
                })
            });
            document.getElementById("changeImage").onchange = function() {
                document.getElementById("formchangeImage").submit();
            };
        </script>
    </th:block>



</body>


</html>
