<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/adminLayout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div layout:fragment="content">
              
        Welcome To Admin Dashboard
        <!-- do asyngronized here -->
        <!-- <section id="table">
            
        </section> -->
          <!-- do asyngronized here -->

 <!-- <div th:replace="~{post/table}"></div> -->


      

    </div>

    <th:block layout:fragment="scripts">
        <!-- <script src="/assets/plugins/jquery/jquery.min.js"></script> -->
        <script src="/scripts/post/func.js"></script>
        <script src="/scripts/post/post.js"></script>
    </th:block>
</body>

</html>